.pricing-section {
  min-height: 100vh;
  background-color: #f9f9f9;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
}
.pricing-sec-heading {
  margin-top: 20px;
  font-size: 2.3em;
  padding-left: 2%;
  font-weight: 700;
  text-align: center;
}
.pricing-desc{
    color: #ff9900;
    width: 50%;
    text-align: center;
    font-size: 1.3em;
    padding: 1em 0;
}
.pricing-card-container{
    width: 90%;
    display: flex;
}
.pricing-card-container div{
    width: 30%;
    background-color: #f4f3f3;
    height: 380px;
    margin: 2%;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.price{
    font-size: 1.5em;
    font-weight: 600;
}
.price-text{
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
}
.pack-features{
    margin: 2% 0;
    font-weight: bold;
}
.feature-list{
    font-size: 1.2em;
    list-style: none;
}
.see-pricing{
    color: #ff9900;
    font-size: 1.2em;
    font-weight: 600;
}
.see-pricing a{
    text-decoration: none;
}
@media (max-width: 768px){
    .pricing-desc{
        width: 80%;
    }
    .pricing-card-container{
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .pricing-card-container div{
        width: 95%;
        height: 500px;
        padding: 0 2%;
    }
}
